*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-box {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 450px;
  height: 300px;
  align-items: center;
  border: none;
  border-radius: 40px;
  box-shadow: 0px 5px 32px 3px;
  transform-origin: center;
  transform: translate(50%, 50%);
}

.dialog-box::backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.235);
}

html::-webkit-scrollbar {
  display: none;
  width: 0;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: 0;
}

body {
  background: black;
}

:root {
  --hue: 223;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 55%);
  --primary-l: hsl(var(--hue), 90%, 65%);
  --primary-d: hsl(var(--hue), 90%, 45%);
  --white: hsl(var(--hue), 10%, 100%);
  --white-d: hsl(var(--hue), 10%, 45%);
}

/* ----------------- Loader ---------------------- */

.loader {
  display: block;
  width: 246px;
  height: 166px;
}

.tree {
  fill: #2b3b86;
}

.circle-mask {
  transform-origin: 50% 100%;
  animation: scale 4s infinite ease-in;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

/* Tree View Styles */
.tree {
  --spacing: 2rem;
  --radius: 10px;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid #ddd;
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid #ddd;
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: block;
  cursor: pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted #000;
}

.tree li::after,
.tree summary::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  border-radius: 50%;
  background: #ddd;
}

.legs {
  position: relative;
}

.legs::before {
  content: "";
  border: 1px solid;
  position: absolute;
  height: 34px;
  bottom: 31px;
  left: 41%;
}